body {
  margin: 0;
  padding: 0;
  background-image: url('background.jpg');
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
}

.text {
  color: rgb(247, 247, 250);
  font-weight: bold;
  text-align: center;
}

.visit-button {
  position: absolute;
  top: 20px;
  left: 20px;
  display: block;
  width: 200px;
  padding: 10px 20px;
  background-color: #00ffc35a;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.visit-button:hover {
  background-color: #0056b3;
}
